{{!--
  This partial renders information specific to a property.
  @param {object} member - The property model to render.
  @param {number} level - The heading level to use for subheadings.
--}}

<dl class="member-card">
  {{#if member.metadata.explicitCustomAttributes}}
  <dt>Attributes</dt>
  <dd>{{>attribute_list member.metadata.explicitCustomAttributes}}</dd>
  {{/if}}
</dl>

{{#if member.metadata.isDefaultInterfaceImplementation}}
<div class="default-impl">
  This property has a default implementation in the interface.
</div>
{{/if}}

{{#if member.metadata.parameters}}
<h{{level}} id="parameters">Index Parameters</h{{level}}>
{{>parameter_list parameters=member.metadata.parameters descriptions=member.doc.parameters}}
{{/if}}

<h{{level}} id="property-value">Property Value</h{{level}}>
{{>returns returnType=member.metadata.type description=member.doc.valueDescription}}
