{{!--
  This partial renders the right sidebar section of the page, containing article's headings.
  @param {object} this - The template context
--}}

<aside class="sidebar sidebar-right" role="complementary" aria-label="In this article" tabindex="-1">
  <div class="sidebar-header" aria-hidden="true">
    <h3>In this article</h3>
  </div>
  <nav id="article-navigation" class="sidebar-nav" data-max-level="3">
  </nav>
</aside>
