.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--color-surface);
  box-shadow: 0 4px 8px var(--color-shadow);
  overflow: visible;
  border: 1px solid var(--color-border);
  flex-direction: column;
  min-width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
  z-index: 2000;
}

.menu .divider {
  height: 1px;
  margin: 0.25rem 0;
  background-color: var(--color-border);
  border: none;
  opacity: 0.5;
}

.menu .divider:first-child,
.menu .divider:last-child,
.menu .divider + .divider {
  display: none;
}

.menu-item {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  text-align: left;
  cursor: pointer;
  color: var(--color-text);
  font-size: 0.8rem;
  position: relative;
  white-space: nowrap;
}

.menu-item a {
  display: block;
  width: 100%;
  color: inherit;
  text-decoration: none;
  transition: none;
  border: none;
  padding: 0.5rem 2.5rem 0.5rem 1rem;
}

.menu-item:hover,
.menu-item:hover>a,
.has-submenu.open,
.has-submenu.open>a {
  background-color: var(--color-accent);
  color: var(--color-accent-text);
}

.menu-item .icon {
  vertical-align: text-top;
}

.menu-item .icon:not(:last-child) {
  margin-right: 0.75rem;
}

.has-submenu>.menu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  right: auto;
  margin: 0 4px;
}

.has-submenu>.menu.flip-placement {
  right: 100%;
  left: auto;
}

.has-submenu.open>.menu {
  display: block;
}

.has-submenu::after {
  content: '▶';
  font-size: 0.6rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.menu-bar {
  display: inline-block;
}

.menu-bar>.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  box-shadow: none;
  min-width: auto;
  overflow: visible;
}

.menu-bar>.menu>.divider {
  width: 2px;
  height: 1.2rem;
  margin: 0 0.5rem;
  background-color: var(--color-border);
  opacity: 0.5;
  align-self: center;
}

.menu-bar>.menu>.menu-item {
  display: inline-flex;
  border: 1px solid transparent;
}

.menu-bar>.menu>.menu-item:hover,
.menu-bar>.menu>.menu-item.has-submenu.open {
  background-color: var(--color-accent);
  color: var(--color-accent-text);
  border-color: var(--color-border);
}

.menu-bar>.menu>.menu-item>a {
  font-size: 0.9rem;
  font-weight: 500;
  padding: .25rem 0.5rem;
}

.menu-bar>.menu>.has-submenu>a {
  padding-right: 1.5rem;
}

.menu-bar>.menu>.has-submenu::after {
  content: '▼';
  font-size: 0.6rem;
  right: 0.5rem;
}

.menu-bar>.menu>.has-submenu>.menu {
  top: 100%;
  left: 0;
  right: auto;
  margin: 2px 0;
}

.menu-bar>.menu>.has-submenu>.menu.flip-placement {
  right: 0;
  left: auto;
}