:root {
  --font-family-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  --font-family-mono: Consolas, Monaco, 'Courier New', monospace;
}

html {
  font-size: 90%;
}

body {
  font-family: var(--font-family-sans);
  font-size: 1rem;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.3;
  margin: 1.75rem 0 1rem;
}

h1 {
  font-size: 2.1rem;
  font-weight: 700;
  padding-bottom: 0.75rem;
  margin-top: 1rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.9rem;
}

code {
  font-family: var(--font-family-mono);
  font-size: 0.9em;
  padding: 0.2em 0.4em;
}

pre {
  overflow: auto;
  padding: 1.25rem;
}

pre code {
  padding: 0;
  font-size: 1rem;
  tab-size: 4;
}
