.hidden {
  display: none !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-no-wrap {
  white-space: nowrap;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.superscript {
  vertical-align: super;
  font-size: smaller;
}

.subscript {
  vertical-align: sub;
  font-size: smaller;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}